%h1
  Hi GAP employee!
%p 
  Please type your personal identification to check the total days of vacations that you have.
  %br 
  = form_for(@employee, :url=>public_search_result_details_url, :method=>:post) do |f|
    .field
      = f.label :identification
      %br/
      = f.text_field :identification
    .actions
      = f.submit 'Find Employee'
