- if user_signed_in? 
  #menubar
    %ul#menu
      %li{:class=>(@module == EMPLOYEE_MODULE ? 'selected' : nil)}
        =link_to 'Employees Information', employees_path
      %li{:class=>(@module == NEW_EMPLOYEE_PAGE ? 'selected' : nil)}
        =link_to 'New Employee', new_employee_path
      %li{:class=>(@module == MY_ACCOUNT_PAGE ? 'selected' : nil)}
        =link_to 'My account', edit_self_path
    %ul#user_information
      %span== Welcome #{current_user.first_name}, #{link_to('Logout', destroy_user_session_path, :method => :delete)}