/* HTML5 Number polyfill | Jonathan Stipe | https://github.com/jonstipe/number-polyfill*/

div {
  &.number-spin-btn-container {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin: 0 0 0 2px;
    padding: 0;
  }
  &.number-spin-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 2px;
    border-color: #ededed #777777 #777777 #ededed;
    border-style: solid;
    background-color: #cccccc;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      border-width: 2px;
      border-color: #5e5e5e #d8d8d8 #d8d8d8 #5e5e5e;
      border-style: solid;
      background-color: #999999;
    }
  }
  &.number-spin-btn-up {
    border-bottom-width: 1px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    &:before {
      border-width: 0 0.3em 0.3em 0.3em;
      border-color: transparent transparent black transparent;
      top: 25%;
    }
    &:active {
      border-bottom-width: 1px;
      &:before {
        border-bottom-color: white;
        top: 26%;
        left: 51%;
      }
    }
  }
  &.number-spin-btn-down {
    border-top-width: 1px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    &:before {
      border-width: 0.3em 0.3em 0 0.3em;
      border-color: black transparent transparent transparent;
      top: 75%;
    }
    &:active {
      border-top-width: 1px;
      &:before {
        border-top-color: white;
        top: 76%;
        left: 51%;
      }
    }
  }
  &.number-spin-btn-up:before, &.number-spin-btn-down:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    left: 50%;
    margin: -0.15em 0 0 -0.2em;
    padding: 0;
  }
}

input:disabled + div.number-spin-btn-container > div {
  &.number-spin-btn-up:active, &.number-spin-btn-down:active {
    border-color: #ededed #777777 #777777 #ededed;
    border-style: solid;
    background-color: #cccccc;
  }
  &.number-spin-btn-up {
    &:before, &:active:before {
      border-bottom-color: #999999;
      top: 25%;
      left: 50%;
    }
  }
  &.number-spin-btn-down {
    &:before, &:active:before {
      border-top-color: #999999;
      top: 75%;
      left: 50%;
    }
  }
}